{% extends 'index.html' %}
{% load static %} 

{% block title %}Contact | {% endblock title %}

{% block content %}
<section id="contact" class="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7" data-aos="fade-up">
        <div class="section-title pr-4">
          <h2>Contact Us</h2>
    
          <p class="text-justify">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
            of Lorem Ipsum.
          </p>
        </div>
      </div>

      <div class="col-xl-5">
        <div class="row" data-aos="fade-left" data-aos-delay="100">
          <div class="col-lg-6 info">
            <i class="bx bx-map"></i>
            <h4>Address</h4>
            <p>A123 Dummy Street,<br />City, State Zip</p>
          </div>
          <div class="col-lg-6 info">
            <i class="bx bx-phone"></i>
            <h4>Call Us</h4>
            <p>+1 12345 12345 12<br />+1 1234 12345 13</p>
          </div>
          <div class="col-lg-6 info">
            <i class="bx bx-envelope"></i>
            <h4>Email Us</h4>
            <p>dummy@example.com<br />info@example.com</p>
          </div>
          <div class="col-lg-6 info">
            <i class="bx bx-time-five"></i>
            <h4>Working Hours</h4>
            <p>Mon-Fri: 9AM to 5PM<br />Sunday: 9AM to 1PM</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
