{% extends 'index.html' %}
{% load static %}

{% block content %}

<section class="page-content container-fluid">
  <form action="{% url 'articles:save_edit_article' article.id %}" method="post" , enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <h5 class="card-header">Add your article details</h5>
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="demoTextInput1">Article Title</label>
                <input value="{{article.title}}" name="name" type="text" class="form-control" id="demoTextInput1" placeholder="Title">
              </div>
              <div class="form-group col-md-6">
                <label for="minidetail">Mini Details</label>
                <input value="{{article.mini_detail}}" required name="minidetail" type="text" class="form-control" id="minidetail" placeholder="minidetail">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="subject">Subject</label>
                <select required name="subject" id="subject" class="form-control">
                  <option selected>{{article.subject}}</option>
                  {% for subject in subjects %}
                  <option value="{{subject.title}}">{{subject.title}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="mainimage">Main image</label>
                <input value="{{article.image.url}}" name="image" type="file" class="form-control-file   btn-floating " id="mainimage">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12">
                <div class="card">
                  <h5 class="card-header">Write your article</h5>
                  <div class="card-body">
                    <textarea required name="content" id="editor1" class="cke_wrapper" rows="10" cols="80">
                    {{article.content}}
                    </textarea>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

{% endblock content %}
