{% extends 'index.html' %}
{% load static %}

{% block content %}

<section class="page-content container-fluid">
  <form  action="{% url 'news:save_edit_news' new.id %}" method="post", enctype="multipart/form-data">
		{% csrf_token %}
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h5 class="card-header">Add News Details</h5>
        <form>
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-6">
                <label for="title">News Title</label>
                <input required value="{{new.title}}" name="title" type="title" class="form-control" id="title" placeholder="Title">
              </div>
              <div class="form-group col-6">
                <label for="subject">Subject</label>
                <select required name="newssubject" id="subject" class="form-control">
                  <option value="" selected>Choose...</option>
                  <option>{{new.subject}}</option>
                  {% for subject in subjects %}
                  <option value="{{subject.subject_title}}">{{subject.subject_title}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-6">
                <label for="minidetail">Mini Detail</label>
                <input value="{{new.mini_detail}}" required  name="minidetail" type="title" class="form-control" id="minidetail" placeholder="MiniDetail">
              </div>
              <div class="form-group col-6">
                <label for="mainimage">Main image</label>
                <input required name="mainimage" type="file" class="form-control-file   btn-floating " id="mainimage">
              </div>
              </div>
            <div class="form-row">
              <div class="col-md-12">
                <div class="card">
                  <h5 class="card-header">News Content </h5>
                  <div class="card-body">
                    <textarea required name="content" id="editor1" class="cke_wrapper" rows="10" cols="80">
                      {{new.content|safe}}
                    </textarea>
                  </div>
                </div>
              </div>
            </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
    </div>
    </form>
</section>

{% endblock content %}
