<aside class="sidebar sidebar-right">
  <div class="sidebar-content">
    <div class="tab-panel m-b-30" id="sidebar-tabs">
      <ul class="nav nav-tabs primary-tabs">
        <li class="nav-item" role="presentation">
          <a href="#sidebar-settings" class="nav-link active show" data-toggle="tab" aria-expanded="true">Settings</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane  fadeIn active" id="sidebar-settings">
        </div>
      </div>
    </div>
  </div>
</aside>
